<div class="mbody">
    <table class="table table-bordered table-striped">
        <tr><td class="td_m">好记的名称</td><td><input type="text" class="form-control" ng-model="model.alias" placeholder="方便记忆的名称"/></td></tr>
        <tr><td class="td_m">目标地址</td><td><input type="text" class="form-control" ng-model="model.address" placeholder="服务器IP或地址信息"/></td></tr>
        <tr><td>帐号</td><td><input type="text" class="form-control" ng-model="model.uname" /></td></tr>
        <tr><td>密码</td><td><input type="password" class="form-control" ng-model="model.upwd" /></td></tr>
        <tr><td>备注</td><td><input type="text" class="form-control" ng-model="model.remind" /></td></tr>
        <tr><td></td><td><input type="button" ng-click="save();" class="btn btn-info" value="保存配置" /></td></tr>
    </table>
</div>